<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>EMQ X MQTT Clients</title>
</head>

<body>

    <div class="container-fluid">
        <div class="top-con">
            <div class="logo">
                <img src="../static/images/logo.png" alt="logo" class="img-fluid">
            </div>
            {% for node in nodes %}
            <div class="second-top">
                <div class="node">
                    <h5>Node:{{ node.node }}</h5>
                </div>
                <div class="version">
                    <h5>Version:{{node.version}}</h5>
                </div>
                <div class="status">
                    <div class="active">
                        <p class="circl act-circl mx-2"></p>
                        <p class="circl-text active-text"> {{ node.node_status }}</p>
                    </div>
                    <div class="offline d-none">
                        <p class="circl off-circl mx-2"></p>
                        <p class="circl-text offline-text">Offline</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row"  id="liveDataContainer">
            <div class="col">
                <div class="box-con">
                    <div class="first-box-titl" id="liveConnectionBox">
                        <h5>Live
                            Connection</h5>
                            <h2></h2>
                    </div>
                    <div class="box-icon">
                        <img src="../static/images/icon-1.png" alt="live connection" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-con">
                    <div class="first-box-titl" id="topicsBox">
                        <h5>Topics</h5>
                            <h2 ></h2>
                    </div>
                    <div class="box-icon">
                        <img src="../static/images/icon-2.png" alt="live connection" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-con">
                    <div class="first-box-titl" id="sentBox">
                        <h5>Sent</h5>
                            <h2 ></h2>
                    </div>
                    <div class="box-icon">
                        <img src="../static/images/icon-3.png" alt="live connection" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-con">
                    <div class="first-box-titl" id="receivedBox">
                        <h5>Recieved</h5>
                            <h2 >88</h2>
                    </div>
                    <div class="box-icon">
                        <img src="../static/images/icon-4.png" alt="live connection" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-con">
                    <div class="first-box-titl" id="connectionBox">
                        <h5>Time</h5>
                            <h4 ></h4>
                    </div>
                    <div class="box-icon">
                        <img src="../static/images/icon-4.png" alt="live connection" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
           <div class="table-con">
            <table class="table">
                <thead>
                    <tr>
                        <th >Client ID</th>
                        <th>Connected At</th>
                        <th>Connected</th>
                        <th>Created At</th>
                        <th>IP Address</th>
                        <th>Port</th>
                        <th>Subscribe Count</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.clientid }}</td>
                            <td>{{ client.connected_at }}</td>
                            <td>{{ client.connected }}</td>
                            <td>{{ client.created_at }}</td>
                            <td>{{ client.ip_address }}</td>
                            <td>{{ client.port }}</td>
                            <td>{{ client.subscriptions_cnt }}</td>
                            <td>{{ client.username }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
           </div>
            </div>
            <div class="col-md-5">
                <div class="barchart-con">
                    <canvas id="metricsBarChart" width="300" height="250"></canvas>
                    <!-- <canvas id="metricsChart" width="300" height="250"></canvas>  -->
                </div>
                <div class="stas-con">
                  
                </div>
            </div>
        </div>
    </div>


    <script>
        // Get the canvas element
        var ctx = document.getElementById('metricsBarChart').getContext('2d');
      
        // Define your data for the chart
        var data = {
          labels: ['Metric 1', 'Metric 2', 'Metric 3', 'Metric 4', 'Metric 5'], // Example metrics
          datasets: [{
            label: 'Values',
            data: [10, 20, 15, 25, 30], // Example metric values
            backgroundColor: [
              'rgb(75, 192, 192)',
              'rgb(255, 99, 132)',
              'rgb(255, 205, 86)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)'
            ]
          }]
        };
      
        // Create the bar chart
        var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
            // Additional chart options (if needed)
          }
        });
      </script>
      
      
    <script>
      function updateMonitorData() {
        $.ajax({
            url: '/get_monitor_data',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                const latestData = data[data.length - 1]; 
                // Assuming latestData.time_stamp is a UNIX timestamp
                const timestamp = latestData.time_stamp;
    
                // Create a Date object from the timestamp
                const date = new Date(timestamp);
    
                // Get components of the date and time
                const year = date.getFullYear();
                const month = date.getMonth() + 1; // Month is zero-based, so add 1
                const day = date.getDate();
                const hours = date.getHours();
                const minutes = date.getMinutes();
                const seconds = date.getSeconds();
    
                // Create a formatted string
                const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}`;
    
                $('#connectionBox h4:last').text(formattedDate);
                $('#liveConnectionBox h2:last').text(latestData.live_connections);
                $('#topicsBox h2:last').text(latestData.topics);
                $('#sentBox h2:last').text(latestData.sent);
                $('#receivedBox h2:last').text(latestData.received);
                $('#subscriptionsBox h2:last').text(latestData.subscriptions);
              
            },
            error: function (error) {
                console.error('Error fetching live data:', error);
            }
        });
    }
    
    setInterval(updateMonitorData, 1000);
    
    updateMonitorData();
    
    </script>
    
  
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.4.0/justgage.min.js"></script>

    
</body>

</html>
