<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.4.0/justgage.min.js"></script>
    
    <title>EMQ X MQTT Clients</title>
</head>
<body>
    <div class="row">
        <div class="logo col-lg-5">
            <img src="../static/images/onwords-logo.svg" alt="logo" class="img-fluid">
        </div>
        
            <div class="col-lg-6 firstline">
                {% for node in nodes %}
                <p><img src="..//static/images/node-js.png" class="version_icon"> Node : {{ node.node }} &emsp; <img src="..//static/images/loading.png" class="version_icon"> Status : {{ node.node_status }} &emsp;<img src="..//static/images/version_icon.png" class="version_icon"> Version : {{node.version}}</p>
                {% endfor %}
            </div>
    </div>    
  
        <div class="row topbox" id="liveDataContainer">
            <div class="col-lg-2 firstbox"  id="connectionBox">
                <p>Connection</p>
                <p></p>
            </div>
            <div class="col-lg-2 firstbox" id="liveConnectionBox">
                <p>Live Connection</p>
                <p></p>
            </div>
            <div class="col-lg-2 firstbox" id="topicsBox">
                <p>Topics</p>
                <p></p>
            </div>
            <div class="col-lg-2 firstbox" id="sentBox">
                <p>Sent</p>
                <p></p>
            </div>
            <div class="col-lg-2 firstbox" id="receivedBox">
                <p>Recieved</p>
                <p></p>
            </div>
            
        </div> 
    <div class="row"> 
        <div class="clienttable col-lg-6">
            <table class="table1">
                <thead class="table-head ">
                    <tr>
                        <th >Client ID</th>
                        <th>Connected At</th>
                        <th>Connected</th>
                        <th>Created At</th>
                        <th>IP Address</th>
                        <th>Port</th>
                        <th>Subscribe Count</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.clientid }}</td>
                            <td>{{ client.connected_at }}</td>
                            <td>{{ client.connected }}</td>
                            <td>{{ client.created_at }}</td>
                            <td>{{ client.ip_address }}</td>
                            <td>{{ client.port }}</td>
                            <td>{{ client.subscriptions_cnt }}</td>
                            <td>{{ client.username }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
        <div class="col-lg-5">
        <canvas id="metricsChart" width="300" height="250"></canvas> 
        </div> 
    </div>  
    <div class="row">
        <div id="channel" class="col-lg-2"></div>
        <div id="retained" class="col-lg-2"></div>
        <div id="session" class="col-lg-2"></div>
        <div id="suboptions" class="col-lg-2"></div>
        <div id="subscriptions" class="col-lg-2"></div>
        <div id="subscribers" class="col-lg-2"></div>
    </div>

    <!-- <button id="showAlarmBtn">Show Alarm</button> -->

    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalTitle">Alert Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                        <span aria-hidden="true" id="closeModalButton"><img src="..//static/images/cross.png" class="version_icon"></span>
                    </button>
                </div>
                <div class="modal-body" id="alertModalBody">
                    <!-- Modal content goes here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModalButtons">Close</button>
                </div>
            </div>
        </div>
    </div>
    


 
 
  <script>
    // Metrics data
    const metricsData = {
        'Connected Clients': {{ metrics_data['client.connected'] }},
        'Message Rate': {{ metrics_data['messages.publish'] }},
        'Bytes Transmitted': {{ metrics_data['bytes.sent'] }},
        'Connection Duration': {{ metrics_data['session.takenover'] }},
        'Topics Subscribed': {{ metrics_data['packets.subscribe.received'] }},
        'QoS 1': {{ metrics_data['packets.subscribe.auth_error'] }},
        'QoS 2': {{ metrics_data['packets.subscribe.error'] }},
        'QoS 3': {{ metrics_data['packets.subscribe.auth_error'] }},
        'Errors': {{ metrics_data['packets.connack.auth_error'] }},
        'Disconnection Session Information': {{ metrics_data['session.discarded'] }},
        'Geolocation': {{ metrics_data['olp.hbn'] }},
        'Client ID': {{ metrics_data['client.authenticate'] }}
    };


    const metricNames = Object.keys(metricsData);
    const metricValues = Object.values(metricsData);

const ctx = document.getElementById('metricsChart').getContext('2d');
new Chart(ctx, {
    type: 'bar',
    data: {
        labels: metricNames,
        datasets: [{
            label: 'Metric Values',
            data: metricValues,
            backgroundColor: 'skyblue',
        }],
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                max: 100000, 
                position: 'top', 
            }
        }
    }
});

</script>
<script>
  function updateMonitorData() {
    $.ajax({
        url: '/get_monitor_data',
        method: 'GET',
        dataType: 'json',
        success: function (data) {
            const latestData = data[data.length - 1]; 

            $('#connectionBox p:last').text(latestData.connections);
            $('#liveConnectionBox p:last').text(latestData.live_connections);
            $('#topicsBox p:last').text(latestData.topics);
            $('#sentBox p:last').text(latestData.sent);
            $('#receivedBox p:last').text(latestData.received);
            $('#subscriptionsBox p:last').text(latestData.subscriptions);

        },
        error: function (error) {
            console.error('Error fetching live data:', error);
        }
    });
}

setInterval(updateMonitorData, 5000);

updateMonitorData();

</script>

<script>
    const gaugeConfigs = [
        {
            id: "channel",
            value: {{ stats['channels.count'] }},
            min: 0,
            max: 100,
            title: "Channels count",
            label: "Channels",
            gaugeWidthScale: 0.5,
            counter: true,
            relativeGaugeSize: true
        },
        {
            id: "retained",
            value: {{ stats['retained.count'] }},
            min: 0,
            max: 100,
            title: "Retained count",
            label: "Retained",
            gaugeWidthScale: 0.5,
            counter: true,
            relativeGaugeSize: true
        },
        {
            id: "session",
            value: {{ stats['sessions.count'] }},
            min: 0,
            max: 100,
            title: "Sessions count",
            label: "Sessions",
            gaugeWidthScale: 0.5,
            counter: true,
            relativeGaugeSize: true
        },
        {
            id: "suboptions",
            value: {{ stats['suboptions.count'] }},
            min: 0,
            max: 100,
            title: "Suboptions count",
            label: "Suboptions",
            gaugeWidthScale: 0.5,
            counter: true,
            relativeGaugeSize: true
        },
        {
            id: "subscriptions",
            value: {{ stats['subscriptions.count'] }},
            min: 0,
            max: 100,
            title: "Subscriptions count",
            label: "Subscriptions",
            gaugeWidthScale: 0.5,
            counter: true,
            relativeGaugeSize: true
        },
        {
            id: "subscribers",
            value: {{ stats['subscribers.count'] }},
            min: 0,
            max: 100,
            title: "Subscribers count",
            label: "Subscribers",
            gaugeWidthScale: 0.5,
            counter: true,
            relativeGaugeSize: true
        }
    ];

    gaugeConfigs.forEach((config) => {
        new JustGage(config);
    });
</script>
<script>
    function fetchAndShowAlarmData() {
        console.log("start");
        $.ajax({
            url: '/get_alarm_data',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data && data.length > 0) {
                    showAlarmModal(data);
                }
            },
            error: function (error) {
                console.error('Error fetching alarm data:', error);
            }
        });
    }

    function showAlarmModal(data) {

        const modalTitle = document.querySelector("#alertModalTitle");
        modalTitle.textContent = "Alert Details";

        const modalBody = document.querySelector("#alertModalBody");

        if (data && data.length > 0) {
            const firstAlarm = data[0];

            modalBody.innerHTML = `
                <table class="table">
                    <tr>
                        <th>Node</th>
                        <td>${firstAlarm.node}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>${firstAlarm.name}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>${firstAlarm.message}</td>
                    </tr>
                    <tr>
                        <th>High Watermark</th>
                        <td>${firstAlarm.details.high_watermark}</td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>${firstAlarm.duration}</td>
                    </tr>
                    <tr>
                        <th>Activate At</th>
                        <td>${firstAlarm.activate_at}</td>
                    </tr>
                    <tr>
                        <th>Deactivate At</th>
                        <td>${firstAlarm.deactivate_at}</td>
                    </tr>
                </table>
            `;

            $('#alertModal').modal('show');
        }
    }

    function fetchAndShowAlarmDataPeriodically() {
        fetchAndShowAlarmData();

        setInterval(fetchAndShowAlarmData, 60000);
    }

    // document.querySelector("#showAlarmBtn").addEventListener("click", function () {
    //     fetchAndShowAlarmData();
    // });
    fetchAndShowAlarmDataPeriodically();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    document.querySelector("#closeModalButton").addEventListener("click", function () {
        console.log("clicked");
        $('#alertModal').modal('hide');
    });
    
    document.querySelector("#closeModalButtons").addEventListener("click", function () {
        console.log("clicked");
        $('#alertModal').modal('hide');
    });

});
</script>

 

  
  
</body>
</html>
